# .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# OS
.DS_Store

# Logs / outputs
data/streams/
data/received/
src/EetBackend/data/received/
src/EetBackend/data/streams/

# Env files
.env
